<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lasselindh.lassetools">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true" >

        <activity
            android:name="com.lasselindh.tools.LassePermission"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|screenLayout|fontScale|uiMode|orientation|screenSize|layoutDirection"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent.Permission" />
    </application>
</manifest>
